@using System.Web.Mvc.Html
@using HSVersion1.Controllers

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shops</h2>

<ul>
   
    <li><h2><a href="/RedCaboose/Index">The Red Caboose</a></h2></li>
    <li><h2><a href="/Bakery/Index">River and Rail Bakery</a></h2></li>

</ul>

