@model HSVersion1.Models.Shop
@{
    ViewBag.Name = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New</h2>
@using (Html.BeginForm("Add", "Shops", FormMethod.Post, new { @class = "form" }))
{
    Html.RenderPartial("_ShopForm");
}

