@using System.Web.Mvc.Html
@using HSVersion1.Controllers
@model IEnumerable<HSVersion1.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registerd Users</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
    </tr>
    
        @foreach (var users in Model) { 
        <tr>
        
            <td>
                @Html.DisplayFor(modelItem => users.UserName)
            </td>
        <td>
            @Html.DisplayFor(modelItem => users.Points)
        </td>
        </tr>
        }
    
</table>
