
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>The Red Caboose</h2>

<div class="row">
    <div class ="column">
        <p><font size="3">The Red Caboose Regional Artisan Center is owned and operated by the Cabell-Huntington Convention & Visitors Bureau. The shop, located in the Visitors Center at Heritage Station, features the work of local creatives. Locally-produced ceramics, Blenko glass, fine art, bath products, fiber arts, jewelry, and artisan food products are available year-round. Local authors and musicians also sell their work through the shop. In addition, the shop features souvenir items including postcards and Huntington-themed items, many of which are produced locally as well. Give a piece of West Virginia to your family, friends,clients or yourself! For more information, please call 304.525.7333 and like us on <a href="https://www.facebook.com/theredcaboosewv/">Facebook!</a> </font> </p>
    </div>
    
    <div class="column">
        <img src="~/Assets/left.jpg" class="img-responsive"/>
    </div>
</div>

<ul>
    <h3>Business Hours:</h3>
    <p>Monday: 9am - 4pm</p>
    <p>Tuesday - Friday: 9am - 6pm</p>
    <p>Saturday: 10am - 4pm</p>
    <p>Sunday: 12pm - 4pm</p>
</ul>


