body {
    background-color: white;
}

.jumbotron {
    background-image: url("../Assets/train.jpg");
    background-size: cover;
    color: white;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

