@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<img src=" http://wildramp.org/wp-content/uploads/2013/10/557625_190299734420576_108234376_n.jpg"/>


<p>Use this area to provide additional information.</p>
