@using HSVersion1.Models
@{
    ViewBag.Title = "Home Page";
}


<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
<ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
</ol>
    <div class="carousel-inner" role="listbox">
        <!---------------------------------------------------One Carousel slide-------------------------------------------------------------->
        <div class="item active">
            <img src="~/Assets/train.jpg" alt="ASP.NET" class="img-responsive"/>
            <div class="carousel-caption" role="option">
                <h3>Welcome to Heritage Station.</h3>
                <p>

                    <a class="btn btn-default" href="/Home/About">
                        Learn More &raquo;
                    </a>
                </p>
            </div>
        </div>
        <!------------------------------------------------------------------------------------------------------------------------------>
        <div class="item">
            <img src="~/Assets/signs2.jpg" alt="ASP.NET" class="img-responsive"/>
            <div class="carousel-caption" role="option">
                <p>
                    <h3>Welcome to Heritage Station.</h3>
                    <a class="btn btn-default" href="/Home/About">
                        Learn More &apos;
                    </a>
                </p>
            </div>
        </div>
        
        <div class="item active">
            <img src="~/Assets/Open2.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <h3>Welcome to Heritage Station.</h3>
                <p>

                    <a class="btn btn-default" href="/Home/About">
                        Learn More &raquo;
                    </a>
                </p>
            </div>
        </div>
 
        
        <div class="item">
            <img src="~/Assets/hat2.jpg" alt="ASP.NET" class="img-responsive"/>
            <div class="carousel-caption" role="option">
                <p>
                    <h3>Welcome to Heritage Station.</h3>
                    <a class="btn btn-default" href="/Home/About">
                        Learn More &apos;
                    </a>
                </p>
            </div>
        </div>

        <div class="item">
        <img src="~/Assets/stickers2.jpg" alt="ASP.NET" class="img-responsive"/>
        <div class="carousel-caption" role="option">
            <p>
                <h3>Welcome to Heritage Station.</h3>
                <a class="btn btn-default" href="/Home/About">
                    Learn More &apos;
                </a>
            </p>
        </div>
    </div>
    
       

    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
        </a>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Rewards Program</h2>
        <p>
            Earn rewards each time you visit any participating shop in Heritage Station.
        </p>
        <p><a class="btn btn-default" href="/RewardsProgram/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Local Events</h2>
        <p>
            <a class="btn btn-default" href="/LocalEvents/IndexPartial">Local Events &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        @{
            Html.RenderPartial("~/Views/Promotions/IndexPartial.cshtml");
        }
        <p><a class="btn btn-default" href="/Promotions/IndexPartial">More promotions &raquo;</a></p>
    </div>
</div>
