
@model HSVersion1.Models.LocalEvents

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Event</h2>

@using (Html.BeginForm("Edit", "LocalEvents", FormMethod.Post, new { @class = "form" }))
{
    Html.RenderPartial("Event_Form");
}

